/* OVERORDNET CSS */

body {
    margin: 0;
}



img {
    width: 100%;
    max-width: 25rem;
    margin-top: 1rem;
    padding: 1rem;
}

/* OVERORDNET SLUT */

/* LOGINSIDE CSS */

#loginside .topelement {
    background-color: #EA5045;
    width: 31rem;
    height: 25rem;
}

#loginside .kealogo {
    position: absolute;
    width: 7rem;
    height: 4rem;
    top: 8rem;
    left: 11rem;

}

#loginside .bottomelement {
    background-color: #FAF7F7;
    width: 31rem;
    height: 40rem;
}

#loginside .brugernavn {
    display: flex;
    justify-content: center;
    width: 33rem;
    height: 7rem
}

#loginside .adgangskode {
    display: flex;
    justify-content: center;
    width: 33rem;
    height: 7rem
}

#loginside .continue {
    display: flex;
    justify-content: center;
    width: 33rem;
    height: 7rem
}

#loginside .loginfacebook {
    display: flex;
    justify-content: center;
    width: 33rem;
    height: 7rem
}

/* LOGINSIDE SLUT */

/* LANDINGPAGE CSS */

body {
    background-color: #DEDCDB;
}

header {
    background-color: #EA5045;

}


#menuknap {
    color: white;
    display: inline-block font-family: sans-serif;
    padding: 0.5rem 0.5rem 0.5rem;
    font-size: 2rem;
    padding-left: 92vw;
    padding-top: 0;
}

#kealgo {
    height: 5vw;
    width: 20vw;

}

#landingpage .top_landingpage {
    display: flex;
    position: relative;
    top: -25px;
    left: -15px;

}

#landingpage .material {
    margin: 10px;

}

#landingpage .skema {
    margin: 10px;

}

#landingpage .notifikationer {
    margin: 10px;

}

#landingpage .mellem_landingpage {
    display: flex;
    position: relative;
    top: -75px;
    left: -15px;
}

#landingpage .techlounge {
    margin: 10px;
}

#landingpage .mail {
    margin: 10px;
    height: 49.2vw;
    width: 49.2vw;
}

#landingpage .mellem_landingpage_to {
    display: flex;
    position: relative;
    top: -150px;
    left: -15px;
}

#landingpage .fav {
    margin: 10px;
}

#landingpage .grupper {
    margin: 10px;
}

#landingpage .chat {
    margin: 10px;
}

#landingpage .mellem_landingpage_tre {

    position: relative;
    top: -200px;
    left: -15px;
}

#landingpage .soeg {
    margin: 10px;
    height: 28vw;
    width: 28vw;
    position: relative;
    top: 5px;
}

#landingpage .afleveringer {
    margin: 10px;
    height: 28vw;
    width: 28vw;
    position: relative;
    top: 14px;
}


#landingpage .aktuelt {
    margin: 10px;
    height: 61.5vw;
    width: 61.5vw;
    position: relative;
    left: 140px;
    top: -250px;
    padding-top: 0;
}

#landingpage .bottom {
    display: flex;
    position: relative;
    top: -450px;
    left: -15px;
}

#landingpage .xet {
    margin: 10px;
}

#landingpage .xto {
    margin: 10px;
}

#landingpage .xtre {
    margin: 10px;
}

/* LANDINGPAGE SLUT */

/* AFLEVERINGSSIDE CSS */


/* AFLEVERINGSSIDE SLUT */
